types/dpi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraphNodeTypes/types/DpiProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraphNodeTypes/types/DpiProperties"> 
	
	<xsd:complexType name="tDpiProperties">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Antispam" type="tDpiProperties" />
	
</xsd:schema>
