types/fieldmodifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/FieldModifierProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/FieldModifierProperties"> 
	
	<xsd:complexType name="tFieldModifierProperties">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="FieldModifierProperties" type="tFieldModifierProperties" />
	
</xsd:schema>
