types/mailclient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/MailclientProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/MailclientProperties"> 
	
	<xsd:complexType name="tMailclientProperties">
		<xsd:attribute name="vpnAccess" type="xsd:string" />
	</xsd:complexType>
	
	<xsd:element name="MailclientProperties" type="tMailclientProperties" />
	
</xsd:schema>