types/nat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/NatProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/NatProperties"> 
	
	<xsd:complexType name="tNatProperties">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="NatProperties" type="tNatProperties" />
	
</xsd:schema>