types/vpnaccess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/VpnAccessProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/VpnAccessProperties"> 
	
	<xsd:complexType name="tVpnAccessProperties">
		<xsd:attribute name="vpnExit" type="xsd:string" />
	</xsd:complexType>
	
	<xsd:element name="VpnAccessProperties" type="tVpnAccessProperties" />
	
</xsd:schema>