types/vpnexit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/VpnExitProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/VpnExitProperties"> 
	
	<xsd:complexType name="tVpnExitProperties">
		<xsd:attribute name="vpnAccess" type="xsd:string" />
	</xsd:complexType>
	
	<xsd:element name="VpnExitProperties" type="tVpnExitProperties" />
	
</xsd:schema>