types/webclient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/WebclientProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/WebclientProperties"> 
	
	<xsd:complexType name="tWebclientProperties">
		<xsd:attribute name="webserverName" type="xsd:string" use="required" />
	</xsd:complexType>
	
	<xsd:element name="WebclientProperties" type="tWebclientProperties" />
	
</xsd:schema>