types/webserver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/WebserverProperties"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraph/NodeTypes/WebserverProperties"> 
	
	<xsd:complexType name="tWebserverProperties">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="WebserverProperties" type="tWebserverProperties" />
	
</xsd:schema>